.no-select {	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.width-1000 {
	max-width: 1000px;
}
.width-800 {
	max-width: 800px;
}
.width-745 {
	max-width: 745px;
}
.width-750 {
	max-width: 750px;
}
.border-dark-carousel {
	background-color: rgb(50, 50, 50);
	border: 10px solid rgb(50, 50, 50);
}
.border-dark-detials {
	border-right: 10px solid rgb(50, 50, 50);
	border-left: 10px solid rgb(50, 50, 50);
	border-bottom: 10px solid rgb(50, 50, 50);
}

.border-light-carousel {
	background-color: rgb(65, 65, 65);
	border: 10px solid rgb(65, 65, 65);
}
.border-light-detials {
	border-right: 10px solid rgb(65, 65, 65);
	border-left: 10px solid rgb(65, 65, 65);
	border-bottom: 10px solid rgb(65, 65, 65);
}

.carousel-container {
	position: relative;
	/* max-width: 1000px; */
	margin: 0 auto;
	overflow: hidden;
	/* background-color: rgb(50, 50, 50);
	border: 10px solid rgb(50, 50, 50); */
	border-bottom: none;
	margin-top: 80px;

	.carousel-slides {
		display: flex;
		transition: transform 0.3s ease-in-out;
	}

	.carousel-slide {
		min-width: 100%;
	}

	.carousel-slide img {
		width: 100%;
	}

	.carousel-dots {
		text-align: center;
		margin-top: -5px;
		background-color: transparent;
	}

	.carousel-dot {
		display: inline-block;

		width: 5px;
		height: 5px;
		border-radius: 100%;
		border: 2px solid #ffffff;
		margin: auto 10px;
		cursor: pointer;
	}

	.carousel-dot.active {
		/* background-color: #333; */
		background-color: white;
	}

	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		/* padding: 10px 20px; */
		border: none;
		background-color: #333;
		color: white;
		cursor: pointer;
		z-index: 1;
		width: 50px;
		height: 70px;
		background-color: rgba(0, 0, 0, 0.05);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
	}
	.carousel-button img {
		width: 30px;
		height: 30px;
		opacity: 0.5;
		transition: 0.5s;
	}

	.carousel-button:hover {
		background-color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
		opacity: 1;
		transition: 0.5s;
	}
	.carousel-button:hover img {
		cursor: pointer;
		opacity: 1;
		transition: 0.5s;
	}

	.prev-button {
		left: 0;
	}

	.next-button {
		right: 0;
	}
}
.center-details {
	position: relative;
	/* max-width: 1000px; */
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
	/* border-right: 10px solid rgb(50, 50, 50);
	border-left: 10px solid rgb(50, 50, 50);
	border-bottom: 10px solid rgb(50, 50, 50); */
	padding: 15px 0px;
	margin-bottom: 150px;

	.detail-container {
		background-color: white;
		padding: 0px 15px;
		z-index: 2;

		.title {
			font-family: sans-serif;
			font-size: 25px;
			padding-top: 10px;
		}

		.description {
			font-family: sans-serif;
			text-align: justify;
			font-size: 20px;
			/* margin-top: -15px; */
		}
	}
}

@media (max-width: 745px) {
	.carousel-container {
		margin: 150px 5% 0px 5%;
	}
	.center-details {
		margin: 0px 5% 150px 5%;
	}
}

@media (max-width: 450px) {
	.carousel-container {
		margin-top: 150px auto;
	}
}
