* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/logos/GameDev-Small.png);
	overflow-x: hidden;
}

/* Slider 
.content h1 {
	text-align: center;
	font-size: 75px;
}
.content p {
	text-align: justify;
	font-family: sans-serif;
}
.slideShow01 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title01 title01"
		"image01 description01";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 72px auto auto auto;
}
.title01 {
	display: grid;
	grid-area: title01;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description01 {
	display: grid;
	grid-area: description01;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 26px;
}
.slider01 {
	display: grid;
	grid-area: image01;
	width: 700px;
	height: 525px;
	background: url(../images/sagHouse/sagHouse/SagHouse01-Medium.png);
	animation: slide01 25s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide01 {
	10% {
		background: url(../images/sagHouse/sagHouse/SagHouse02-Medium.png);
	}
	20% {
		background: url(../images/sagHouse/sagHouse/SagHouse03-Medium.png);
	}
	30% {
		background: url(../images/sagHouse/sagHouse/SagHouse04-Medium.png);
	}
	40% {
		background: url(../images/sagHouse/sagHouse/SagHouse05-Medium.png);
	}
	50% {
		background: url(../images/sagHouse/sagHouse/SagHouse06-Medium.png);
	}
	60% {
		background: url(../images/sagHouse/sagHouse/SagHouse07-Medium.png);
	}
	70% {
		background: url(../images/sagHouse/sagHouse/SagHouse08-Medium.png);
	}
	80% {
		background: url(../images/sagHouse/sagHouse/SagHouse09-Medium.png);
	}
	90% {
		background: url(../images/sagHouse/sagHouse/SagHouse10-Medium.png);
	}
	100% {
		background: url(../images/sagHouse/sagHouse/SagHouse01-Medium.png);
	}
}
.slideShow02 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title02 title02"
		"image02 description02";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto auto auto;
}
.title02 {
	display: grid;
	grid-area: title02;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description02 {
	display: grid;
	grid-area: description02;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 30px;
}
.slider02 {
	display: grid;
	grid-area: image02;
	width: 700px;
	height: 525px;
	background: url(../images/sagHouse/cupDrop/CupDrop02-Medium.png);
	animation: slide02 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide02 {
	20% {
		background: url(../images/sagHouse/cupDrop/CupDrop03-Medium.png);
	}
	40% {
		background: url(../images/sagHouse/cupDrop/CupDrop04-Medium.png);
	}
	60% {
		background: url(../images/sagHouse/cupDrop/CupDrop05-Medium.png);
	}
	80% {
		background: url(../images/sagHouse/cupDrop/CupDrop01-Medium.png);
	}
	100% {
		background: url(../images/sagHouse/cupDrop/CupDrop02-Medium.png);
	}
}

.slideShow03 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title03 title03"
		"image03 description03";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto auto auto;
}
.title03 {
	display: grid;
	grid-area: title03;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description03 {
	display: grid;
	grid-area: description03;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 30px;
}
.slider03 {
	display: grid;
	grid-area: image03;
	width: 700px;
	height: 525px;
	background: url(../images/sagHouse/piper/Piper03-Medium.png);
	animation: slide03 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide03 {
	20% {
		background: url(../images/sagHouse/piper/Piper04-Medium.png);
	}
	40% {
		background: url(../images/sagHouse/piper/Piper05-Medium.png);
	}
	60% {
		background: url(../images/sagHouse/piper/Piper01-Medium.png);
	}
	80% {
		background: url(../images/sagHouse/piper/Piper02-Medium.png);
	}
	100% {
		background: url(../images/sagHouse/piper/Piper03-Medium.png);
	}
}

.slideShow04 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title04 title04"
		"image04 description04";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto;
}
.title04 {
	display: grid;
	grid-area: title04;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description04 {
	display: grid;
	grid-area: description04;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 30px;
}
.slider04 {
	display: grid;
	grid-area: image04;
	width: 700px;
	height: 525px;
	background: url(../images/sagHouse/waterBird/WaterBird04-Medium.png);
	animation: slide04 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide04 {
	20% {
		background: url(../images/sagHouse/waterBird/WaterBird05-Medium.png);
	}
	40% {
		background: url(../images/sagHouse/waterBird/WaterBird01-Medium.png);
	}
	60% {
		background: url(../images/sagHouse/waterBird/WaterBird02-Medium.png);
	}
	80% {
		background: url(../images/sagHouse/waterBird/WaterBird03-Medium.png);
	}
	100% {
		background: url(../images/sagHouse/waterBird/WaterBird04-Medium.png);
	}
}

Slider */

/* Footer */
.footer img {
	margin: 0pc 5px 15px 5px;
}
.footer {
	background-color: rgb(50, 50, 50);
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 60px 0px 70px 0px;
	/* width: 100vw; */
}
/* Footer */

.container {
	display: grid;
	grid-template-areas:
		"title title title title title title title title"
		"slideshow slideshow slideshow slideshow slideshow slideshow slideshow description";
	max-width: 1100px;
	margin: 0 auto;
	background-color: #414141;
	border: 10px solid #414141;
}

.title {
	grid-area: title;
	background-color: rgb(240, 133, 133);
	border-bottom: 10px solid #414141;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 80px;
	font-weight: bolder;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slideshow-container {
	grid-area: slideshow;
	position: relative;
	width: 100%;
	/* Maintain a 4:3 aspect ratio for the container */
	/* padding-bottom: 75%; */
	overflow: hidden;
}

.slideshow-container img {
	width: 100%;
	height: 100%;
	object-fit: contain; /* Maintain aspect ratio and fit the image within the container */
	background-color: black;
}

.description {
	grid-area: description;
	font-size: 30px;
	background-color: rgb(240, 232, 158);
	border-left: #414141 solid 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}
.description-padding {
	margin: 0px;
	width: 80%;
	height: 80%;

	text-align: justify;
}

@media (max-width: 1100px) {
	.container {
		display: grid;
		grid-template-areas:
			"title "
			"slideshow "
			"description";
		max-width: 1100px;
		margin: 0 auto;
		background-color: #414141;
		border: 10px solid #414141;
	}

	/* .title {
		font-size: 50px;
	} */

	.description {
		border-top: #414141 solid 10px;
		border-left: #414141 solid 0px;
		padding: 20px;
	}
	.description-padding {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 600px) {
	.title {
		font-size: 50px;
	}
}

/*
@media (max-width: 1150px) {
	.slideShow01 {
		grid-template-areas:
			"title01 title01"
			"image01 image01"
			"description01 description01";
		width: 100%;
	}
	.photo01 {
		display: grid;
		grid-area: image01;
		width: 100%;
		object-fit: cover;
		height: auto;
	}

	.robot02 {
		grid-template-areas:
			"title02 title02"
			"image02 image02"
			"description02 description02";
		width: 100%;
	}
	.photo02 {
		display: grid;
		grid-area: image02;
		width: 100%;
		object-fit: cover;
		height: auto;
	}

	.robot03 {
		grid-template-areas:
			"title03 title03"
			"image03 image03"
			"description03 description03";
		width: 100%;
	}
	.photo03 {
		display: grid;
		grid-area: image03;
		width: 100%;
		object-fit: cover;
		height: auto;
	}

	.robot04 {
		grid-template-areas:
			"title04 title04"
			"image04 image04"
			"description04 description04";
		width: 100%;
	}
	.photo04 {
		display: grid;
		grid-area: image04;
		width: 100%;
		object-fit: cover;
		height: auto;
	}
}

@media (max-width: 750px) {
	.robot01 {
		width: 90%;
		.title01 {
			font-size: 40px;
		}
		.description01 {
			padding: 25px;
		}
	}

	.robot02 {
		width: 90%;
		.title02 {
			font-size: 40px;
		}
		.description02 {
			padding: 25px;
		}
	}

	.robot03 {
		width: 90%;
		.title03 {
			font-size: 40px;
		}
		.description03 {
			padding: 25px;
		}
	}

	.robot04 {
		width: 90%;
		.title04 {
			font-size: 40px;
		}
		.description04 {
			padding: 25px;
		}
	}
}
*/
